<html>
   {{>_head}}  
    <body>
      {{>_header}}  
      {{>_login}}  
      {{>_dashboard}}  
      {{>_savings}}  
      {{>_services}}    
      {{>_transaction}}   
      {{>_contact}}  
      {{>_footer}}  
    </body>
</html>