  <section id="contact">
    <h1>Contact Us</h1>
	  <p>For further queries, please contact us at <a style="color: red;" href="mailto:{{email}}"><h4 style="color: #333;">{{email}}</h4></a></p>
  </section>
