<section style="background-color: #f7f7f7;">
    <div class="finance-box">
        <div class="finance-box-header">
        <h2>Stocks to Watch</h2>
        </div>
        <div class="finance-box-body">
        <ul>
        <li><a href="https://www.google.com/finance/quote/AAPL:NASDAQ">APPLE</a></li>
        <li><a href="https://www.google.com/finance/quote/GOOGL:NASDAQ">GOOGLE</a></li>
        <li><a href="https://www.google.com/finance/quote/TSLA:NASDAQ">TESLA</a></li>
        <li><a href="https://www.google.com/finance/quote/AMZN:NASDAQ">AMAZON</a></li>
        <li><a href="https://www.google.com/finance/quote/MSFT:NASDAQ">MICROSOFT</a></li>
        </ul>
        </div>
        <div class="finance-box-footer">
        <a href="https://www.google.com/finance/portfolio/a74ef1d6-e619-4d70-b6f7-b4e086449a36?window=1M" class="more-link">View All Stocks</a>
        </div>
    </div>
</section>