<section style="background-color: #f7f7f7;">
<div class="container">
    <div class="row">
    <div style="display:flex; justify-content:center; align-items:center;">
        <img src="/images/login.jpeg" alt="Image" style="margin:auto;" />
    </div>
        <h2>Login here </h2>
        <div id="readArea"> <br><!-- READING FROM CONTRACT -->
        <button class="btn btn-primary" onclick="connectMetamask()">LOGIN TO METAMASK</button> <br><p style="text-align: center;" id="userArea">Status: Not connected to Metamask</p>
        <!-- index html to meta-->
        </div>
    </div>
</div>
</section>