  <section id="location" style="background-color: #f7f7f7;">
    <div class="map-container">
      <h2>Location</h2><br>
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9532.869051730242!2d-6.328336756628488!3d53.32146312957951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670c881b55be8b%3A0xd0588d2be6d75a1d!2sCrumlin%2C%20Dublin%2C%20D12%20YF68!5e0!3m2!1sen!2sie!4v1680658104715!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>