<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div id="readArea">
          <br>
          <button class="btn btn-primary" onclick="connectContract()">CONNECT TO CONTRACT</button>
          <p id="contractArea">Status: Not connected to Contract</p>
          
          <button class="btn btn-primary" onclick="getContractAccount()">GET CONTRACT ACCOUNT</button>
          <p id="contractAccount">Contract Account: Not Connected to Contract</p>
          
          <button class="btn btn-success" onclick="getContractBalance()">GET BALANCE OF THE CONTRACT</button>
          <p id="balanceArea">Balance: Not Connected to Contract</p>
        </div>
      </div>
      
      <div class="col-sm-6">
        <div id="writeArea">
          <br>
          <button class="btn btn-danger" onclick="depositContract()">Send ether to the Contract</button><br><br>
          <label for="depositInput">Enter Amount:</label>
          <input type="number" id="depositInput" placeholder="Enter Amount"><br><br>
          
          <label for="addressInput">Enter Address:</label>
          <input type="text" id="addressInput" placeholder="Enter Address"><br>
          <label for="amountInput">Enter Amount:</label>
          <input type="number" id="amountInput" placeholder="Enter Amount"><br><br>
          
          <button class="btn btn-primary" onclick="withdraw()">WITHDRAW ETHER TO ANY ADDRESS</button>
        </div>
      </div>
    </div>
  </div>
</section>
